
body {
font-family: monospace;
background-color:black;
color:#00FF00;
}

.rtxt {
color:#FF0000;	
}

.rbtn {
font-family: monospace;
background-color:#800000;
color:#FF0000;
border-color: red;
outline: none;
cursor: pointer;	
}

.gbtn {
font-family: monospace;
background-color:#008000;
color:#00FF00;
border-color: #00FF00;
outline: none;
cursor: pointer;
}

.wbtn {
font-family: monospace;
background-color:#000000;
color:#FFFFFF;
border-color: #FFFFFF;
outline: none;
cursor: pointer;
}