
body {
font-family: monospace;
font-size: 18.75px;
background-color:black;
color:#00FF00;
}

.rtxt {
color:#FF0000;	
}

.rbtn {
font-family: monospace;
background-color:#800000;
color:#FF0000;
border-color: #FF0000;
outline: none;
cursor: pointer;	
font-size: 18.75px;
transition-duration: 0.169s;
}

.rbtn:hover {
color:#FF4040;
border-color:#FF4040;
}

.rbtn:active {
color:#FF0000;
border-color:#FF0000;
background-color:#400000
}

.gbtn {
font-family: monospace;
background-color:#008000;
color:#00FF00;
border-color: #00FF00;
outline: none;
cursor: pointer;
font-size: 18.75px;
transition-duration: 0.169s;
}

.gbtn:hover {
color:#80FF80;
border-color:#80FF80;
}

.gbtn:active {
color:#00FF00;
border-color:#00FF00;
background-color:#004000
}

.wbtn {
font-family: monospace;
background-color:#000000;
color:#FFFFFF;
border-color: #FFFFFF;
outline: none;
cursor: pointer;
font-size: 18.75px;
transition-duration: 0.169s;
}


.wbtn:hover {
filter: brightness(1.25);
}

.wbtn:active {
filter: brightness(0.75);
}

.brightnessthing {
transition-duration:0.169s;
}

.brightnessthing:hover {
filter: brightness(1.25);
}

.brightnessthing:active {
filter: brightness(0.75);
}

.wtxt {
color:#FFFFFF;
}

.btxt {
color:#0000FF;
text-shadow: 0 0 10px #0000FF;
}


.bbtn {
font-family: monospace;
background-color:#000080;
color:#0000FF;
border-color: #0000FF;
outline: none;
cursor: pointer;	
font-size: 18.75px;
transition-duration: 0.169s;
text-shadow: 0 0 10px #0000FF;
box-shadow: 0 0 3px #000080;
}

.bbtn:hover {
color:#000080;
border-color:#0000FF;
background-color:#0000FF;
text-shadow: 0 0 10px #000080;
box-shadow: 0 0 5px #000080;
border-style:solid;
}

.bbtn:active {
color:#0000FF;
border-color:#0000FF;
background-color:#000040;
text-shadow: 0 0 10px #0000FF;
box-shadow: 0 0 10px #0000FF;
border-style:inset;
}

.mpbtn {
font-family: monospace;
color:white;
border-color:#00FF00;
outline: none;
font-size:18.75px;
animation-name: multipower;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
transition-duration:0.169s;
cursor:pointer;
}

.mpbtn:hover {
text-shadow: 0 0 10px #FFFFFF;
}

.mpbtn:active {
filter: brightness(0.75);
}

.mptxt {
animation-name: mptxtani;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

.mpupgyes {
font-family: monospace;
background-color:black;
color:white;
border-color:#00FF00;
outline: none;
font-size:18.75px;
animation-name: mptxtani;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
transition-duration:0.169s;
cursor:pointer;
}

.mpupgyes:active {
filter: brightness(0.75);
}

@keyframes multipower {
  0%   {background-color: #00FF00; border-color: #00FF00;}
  100%  {background-color: #FF0000; border-color: #FF0000;}
}


@keyframes mptxtani {
  0%   {color: #00FF00; border-color: #00FF00; text-shadow: 0 0 10px #00FF00;}
  100%  {color: #FF0000; border-color: #FF0000; text-shadow: 0 0 10px #FF0000;}
}

#newsTicker {
  border: 2px solid #00FF00;
  border-radius: 5px;
  height: 20px;
  padding: 5px;

  overflow: hidden;
  white-space: nowrap;
}

.idktable{
	width:100%
}

.idktable td {
	min-width: 33%;
	width: 33%;
	max-width: 33%;
	text-align: center;
}
